<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fullness.stationary.mapper.ProductMapper">

    <resultMap id="productWithCategoryResult" type="Product">
        <id property="id" column="product_id" />
        <result property="productCategoryId" column="product_category_id" />
        <result property="name" column="product_name" />
        <result property="price" column="product_price" />
        <result property="imageUrl" column="product_image_url" />
        <result property="deleteFlag" column="product_delete_flag" />
        <association property="productCategory" javaType="ProductCategory">
            <id property="id" column="product_category_id" />
            <result property="name" column="product_category_name" />
        </association>
    </resultMap>

    <select id="selectAll" resultType="Product">
        <![CDATA[
            select
                id
                , product_category_id as productCategoryId
                , name
                , price
                , image_url as imageUrl
                , delete_flag as deleteFlag
            from
                product
            order by id
        ]]>
    </select>

    <select id="selectAllWithCategory" resultMap="productWithCategoryResult">
        <![CDATA[
            select
                product.id product_id
                , product.product_category_id
                , product.name product_name
                , product.price product_price
                , product.image_url product_image_url
                , product.delete_flag product_delete_flag
                , product_category.name product_category_name
            from
                product
                inner join product_category
                    on product.product_category_id = product_category.id
            order by product_id
        ]]>
    </select>

    <select id="selectById" resultMap="productWithCategoryResult">
        <![CDATA[
            select
                product.id product_id
                , product.product_category_id
                , product.name product_name
                , product.price product_price
                , product.image_url product_image_url
                , product.delete_flag product_delete_flag
                , product_category.name product_category_name
            from
                product
                inner join product_category
                    on product.product_category_id = product_category.id
            where
                product.id = #{id}
        ]]>
    </select>

    <insert id="insert" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into product (product_category_id, name, price, image_url, delete_flag)
            values (#{productCategoryId}, #{name}, #{price}, #{imageUrl}, #{deleteFlag})
        ]]>
    </insert>

    <update id="updateById" parameterType="Product">
        <![CDATA[
            update product
            set
                product_category_id = #{productCategoryId}
                , name = #{name}
                , price = #{price}
                , image_url = #{imageUrl}
                , delete_flag = #{deleteFlag}
            where
                id = #{id}
        ]]>
    </update>

    <delete id="deleteById">
        <![CDATA[
            delete from product
            where id = #{id}
        ]]>
    </delete>

</mapper>
